---
import Header from "../components/common/Header.astro";
import Footer from "../components/common/Footer.astro";
import Layout from "../layouts/Layout.astro";
import CircuitsTable from "../components/CircuitsTable.astro";

export interface Circuit {
  id: number;
  gp_name: string;
  circuit_name: string;
  location: string;
  country: string;
  distance: number;
}

const response: Response = await fetch("http://localhost:3012/circuits", {
  method: "GET",
  headers: {
    "Content-Type": "application/json",
    "api-key": import.meta.env.BACKEND_API_KEY,
  },
});
const circuits: Array<Circuit> = await response.json();
---

<Layout title="Bienvenido a la página de estadisticas de Formula 1">
  <Header textTitle="Circuitos" />
  <main>
    <CircuitsTable circuits={circuits} />
  </main>
  <Footer />
</Layout>

<style lang="css">
  main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
    box-sizing: border-box;
    padding: 2rem;
  }
</style>
