---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';

const response = await fetch("http://localhost:3012/drivers", {
  method: "GET",
  headers: {
    "Content-Type": "application/json",
    "api-key": import.meta.env.BACKEND_API_KEY,
  },
});
const drivers = await response.json()
console.log(drivers)
---

<Layout title="Bienvenido a la página de estadisticas de Formula 1">
	<Header textTitle='Pilotos' />
    {
        drivers.length > 0 ?
            drivers.map(driver => <h1>{driver.name}</h1>)
            : null
    }
    <Footer />
</Layout>

<style lang="css">

</style>