---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import DriverCard from "../components/DriverCard.astro";

export interface Driver {
  id: number,
  name: string,
  dorsal_number: number,
  birthday: string,
  country: string,
  picture: string,
}

const response: Response = await fetch("http://localhost:3012/drivers", {
  method: "GET",
  headers: {
    "Content-Type": "application/json",
    "api-key": import.meta.env.BACKEND_API_KEY,
  },
});
const drivers: Array<Driver> = await response.json();
---

<Layout title="Bienvenido a la página de estadisticas de Formula 1">
  <Header textTitle="Pilotos" />
  <main>
    {
      drivers.length > 0 &&
        drivers.map((driver: Driver) => <DriverCard driver={driver} />)
    }    
  </main>
  <Footer />
</Layout>

<style lang="css">
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.6rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
</style>
