---
import Header from "../components/common/Header.astro";
import Footer from "../components/common/Footer.astro";
import Layout from "../layouts/Layout.astro";
import DriverCard from "../components/DriverCard.astro";
import type { Driver } from "../types/driver";
import { getDrivers } from "../utils/services";

const drivers: Array<Driver> = await getDrivers();
---

<Layout title="Bienvenido a la página de estadisticas de Formula 1">
  <Header textTitle="Pilotos" />
  <main>
    {
      drivers.length > 0 &&
        drivers.map((driver) => <DriverCard driver={driver} />)
    }
  </main>
  <Footer />
</Layout>

<style lang="css">
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.6rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
</style>
