---
import { Icon } from 'astro-icon'
const { circuit } = Astro.props
console.log(circuit)
---

<tr>
    <td>
        {circuit.gp_name}
    </td>
    <td>
        {circuit.circuit_name}
    </td>
    <td>
        {circuit.country}
    </td>
    <td>
        <a class='button-stats' href='#' title="Estadísticas">
            <Icon name='stats' width='30px' height='30px' />
            Ver Estadísticas
        </a>
    </td>
</tr>


<style>
    .button-stats {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .4rem;
        color: black;
        text-decoration: none;
    }
    tr {
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        gap: .5rem;
        width: 100%;
        border-bottom: 1px solid black;
        padding-top: .2rem;
        padding-bottom: .2rem;
        background-color: var(--color-snow);
    }
    td {
        width: 24%;
        font-size: 1rem;
        text-align: start;
        margin-left: 6px;
    }
    td:last-child {
        text-align: center;
        margin-left: 0px;
    }
</style>