---
import type { Driver } from '../pages/drivers.astro';

interface Props {
    driver: Driver
}
const { driver } = Astro.props as Props
console.log(driver)
---

<main>
    Tarjetas de Pilotos
</main>

<style>

</style>