---
import LinkNav from "./LinkNav.astro";
---

<div class="navbar">
    <LinkNav href="/" text="Inicio" />
    <LinkNav href="/drivers" text="Pilotos" />
    <LinkNav href="/teams" text="Equipos" />
    <LinkNav href="/circuits" text="Circuitos" />
</div>

<style lang="css">
    .navbar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }
</style>