---
import Header from '../components/common/Header.astro';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <style is:global lang="css">
      /* Fuentes */
      @font-face {
        font-family: "Airstrike Bold";
        src: url("/fonts/airstrikebold.ttf");
        font-style: normal;
        font-weight: 400;
        font-display: swap;
      }
      @font-face {
        font-family: "Orbitron";
        src: url("/fonts/Orbitron-Medium.ttf");
        font-style: normal;
        font-weight: 500;
        font-display: swap;
      }
      @font-face {
        font-family: "Anaheim";
        src: url("/fonts/Anaheim-Regular.ttf");
        font-style: normal;
        font-weight: 400;
        font-display: swap;
      }
      @font-face {
        font-family: Cyber;
        src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
        font-display: swap;
      }

      * {
        box-sizing: border-box;
      }

      /* Animaciones */
      @keyframes pulse {
        0%,
        100% {
          background-position-y: 0%;
        }
        50% {
          background-position-y: 80%;
        }
      }
      @keyframes glitch {
        0% {
          clip-path: var(--clip-one);
        }
        2%,
        8% {
          clip-path: var(--clip-two);
          transform: translate(calc(var(--shimmy-distance) * -1%), 0);
        }
        6% {
          clip-path: var(--clip-two);
          transform: translate(calc(var(--shimmy-distance) * 1%), 0);
        }
        9% {
          clip-path: var(--clip-two);
          transform: translate(0, 0);
        }
        10% {
          clip-path: var(--clip-three);
          transform: translate(calc(var(--shimmy-distance) * 1%), 0);
        }
        13% {
          clip-path: var(--clip-three);
          transform: translate(0, 0);
        }
        14%,
        21% {
          clip-path: var(--clip-four);
          transform: translate(calc(var(--shimmy-distance) * 1%), 0);
        }
        25% {
          clip-path: var(--clip-five);
          transform: translate(calc(var(--shimmy-distance) * 1%), 0);
        }
        30% {
          clip-path: var(--clip-five);
          transform: translate(calc(var(--shimmy-distance) * -1%), 0);
        }
        35%,
        45% {
          clip-path: var(--clip-six);
          transform: translate(calc(var(--shimmy-distance) * -1%));
        }
        40% {
          clip-path: var(--clip-six);
          transform: translate(calc(var(--shimmy-distance) * 1%));
        }
        50% {
          clip-path: var(--clip-six);
          transform: translate(0, 0);
        }
        55% {
          clip-path: var(--clip-seven);
          transform: translate(calc(var(--shimmy-distance) * 1%), 0);
        }
        60% {
          clip-path: var(--clip-seven);
          transform: translate(0, 0);
        }
        31%,
        61%,
        100% {
          clip-path: var(--clip-four);
        }
      }

      /* Estilos y variables globales */
      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          #da62c4 30%,
          white 60%
        );
        --color-snow: #fffafb;
        --color-middle-blue-green: #7de2d1;
        --color-persian-green: #339989;
        --color-jet: #2b2c28;
        --color-eerie-black: #131515;
      }
      html {
        font-family: system-ui, sans-serif;
        background-color: #f6f6f6;
      }
      body {
        margin: 0;
        box-sizing: border-box;
        background-color: var(--color-apricot);
      }
    </style>
  </body>
</html>
